

@font-face {
  	font-family: MacondoFont;
  	src: url(fonts/MacondoSwashCaps-Regular.tff);
}

body{
	background-color: #334;
	font-family: MacondoFont;
	}
	
.calc{
	background-color: aliceBlue;
	border-radius: 25px;
	padding: 5px 20pd 5px 20px;
	}

input{
	background-color: pink;
	}

::placeholder {
	color: black;
 	opacity: 1; 
	}
	
