input{
	background-color: pink;
	}

	@font-face {
  font-family: MacandoFont;
  src: url(/fonts/MacondoSwashCaps-Regular.eot);
}

	@font-face {
  font-family: MacandoFont;
  src: url(/fonts/MacondoSwashCaps-Regular.tff);
}

body{
	background-color: #334;
	font-family: MacandoFont;
	}
	
.calc{
	background-color: aliceBlue;
	border-radius: 25px;
	width: 60%;
	font-family: MacandoFont;
	}
	
